<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC02:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springMVC02_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVC02" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="$PROJECT_DIR$/lib/commons-logging-1.1.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-beans-5.3.15.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-context-5.3.15.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-core-5.3.15.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-expression-5.3.15.jar" />
          <element id="library" level="module" name="JUnit4" module-name="springMVC02" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/druid-1.1.9.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-aop-5.3.15.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/com.springsource.net.sf.cglib-2.2.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/com.springsource.org.aopalliance-1.0.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/com.springsource.org.aspectj.weaver-1.6.8.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-aspects-5.3.15.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-jdbc-5.3.15.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-orm-5.3.15.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-tx-5.3.15.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/mysql-connector-java-8.0.18.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-web-5.3.15.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/spring-webmvc-5.3.15.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/jstl.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/standard.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/jackson-annotations-2.13.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/jackson-databind-2.13.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/jackson-core-2.13.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/commons-io-2.11.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/lib/commons-fileupload-1.4.jar" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springMVC02/web/Web" />
    </root>
  </artifact>
</component>